.complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $default-blue;

  &__heading {
    color: $default-white;
  }

  &__content {
    color: $default-white;
  }
}
