.game {
  display: flex;

  &__modal {
    display: flex;
    flex: 1;
    height: 100vh;
    background-image: url("./assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__maze {
    display: flex;
    height: 100vh;
    flex: 1;
  }
}
