.maze {
  border: 1px solid $default-white;
  width: 100%;

  &__placeholder {
    height: 100%;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/img/maze-background.jpg");
    background-size: cover;
    height: 100%;
  }
}
