.maze {
  height: 100%;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/img/maze-background.jpg");
    background-size: cover;
    height: 100%;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 200px 0;
  }

  &__icon-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
  }
}
